<html>
<head>
  <title>Madlibs by Akanksha and Robyn</title>

</head>
<body>
  <form action="/madlib">

    Give the name of a person:
    <input type="text" name="person"><br>

    Pick a color:
    <select name="color">
      <option value="purple">Purple</option>
      <option value="blue">Blue</option>
      <option value="rainbow">Rainbow</option>
      <option value="yellow">Yellow</option>
      <option value="green">Green</option>
    </select>
    <br>

    Type a noun:
    <input type="text" name="noun"><br>

    Pick an adjective:<br>
    <input type="radio" name="adjective" value="smelly">Smelly<br>
    <input type="radio" name="adjective" value="smart">Smart<br>
    <input type="radio" name="adjective" value="smiley">Smiley<br>
    <input type="radio" name="adjective" value="small">Small<br>

    Pick your favorite foods (You can pick more than one!):<br>
    <input type="checkbox" name="food" value="pizza">Pizza<br>
    <input type="checkbox" name="food" value="ice cream">Ice Cream<br>
    <input type="checkbox" name="food" value="tacos">Tacos<br>
    <input type="checkbox" name="food" value="burgers">Burgers<br>
    <input type="checkbox" name="food" value="noodles">Noodles<br>


    <input type="submit">

  </form>



</body>
</html>